<div class="popout-container">
  <!-- Header with title and close button -->
  <div class="popout-header">
    <h2 class="popout-title">{{ panelTitle }}</h2>
    <button pButton type="button" icon="pi pi-times" (click)="closeWindow()" class="close-btn p-button-text p-button-sm"></button>
  </div>

  <!-- Generic panel content - components handle their own state -->
  <div class="popout-content">
    <ng-container [ngSwitch]="panelType">

      <!-- Manufacturer-Model Picker Panel (Single Checkbox) -->
      <div *ngSwitchCase="'picker'" class="panel-wrapper">
        <app-base-picker
          [configId]="'manufacturer-model'"
          [externalFilters]="currentFilters"
        ></app-base-picker>
      </div>

      <!-- Dual Checkbox Picker Panel (Parent-Child) -->
      <div *ngSwitchCase="'dual-picker'" class="panel-wrapper">
        <app-dual-checkbox-picker [configId]="'manufacturer-model-dual'"></app-dual-checkbox-picker>
      </div>

      <!-- Base Dual Picker Panel (Experimental Parent-Child with BaseDataTable) -->
      <div *ngSwitchCase="'base-dual-picker'" class="panel-wrapper">
        <app-base-dual-picker [configId]="'manufacturer-model-base-dual'"></app-base-dual-picker>
      </div>

      <!-- Vehicle Results Table Panel -->
      <div *ngSwitchCase="'results'" class="panel-wrapper">
        <app-results-table></app-results-table>
      </div>

      <!-- PlotlyJS Charts Panel -->
      <div *ngSwitchCase="'plotly-charts'" class="panel-wrapper">
        <app-plotly-histogram></app-plotly-histogram>
      </div>

      <!-- Query Control Panel -->
      <div *ngSwitchCase="'query-control'" class="panel-wrapper">
        <app-query-control
          (filterAdd)="onFilterAdd($event)"
          (filterRemove)="onFilterRemove($event)">
        </app-query-control>
      </div>

      <!-- Static Parabola Chart Panel -->
      <div *ngSwitchCase="'static-parabola'" class="panel-wrapper">
        <app-static-parabola-chart></app-static-parabola-chart>
      </div>

      <!-- Manufacturer Chart Panel -->
      <div *ngSwitchCase="'manufacturer-chart'" class="panel-wrapper">
        <app-manufacturer-chart></app-manufacturer-chart>
      </div>

      <!-- Year Chart Panel -->
      <div *ngSwitchCase="'year-chart'" class="panel-wrapper">
        <app-year-chart></app-year-chart>
      </div>

      <!-- Models Chart Panel -->
      <div *ngSwitchCase="'models-chart'" class="panel-wrapper">
        <app-models-chart></app-models-chart>
      </div>

      <!-- Body Class Chart Panel -->
      <div *ngSwitchCase="'body-class-chart'" class="panel-wrapper">
        <app-body-class-chart></app-body-class-chart>
      </div>

      <!-- Unknown panel type -->
      <div *ngSwitchDefault class="panel-wrapper">
        <p-messages severity="warn">
          <ng-template pTemplate>
            <div class="p-message-wrapper">
              <span class="p-message-summary">Unknown Panel Type</span>
              <span class="p-message-detail">Panel type "{{ panelType }}" is not recognized.</span>
            </div>
          </ng-template>
        </p-messages>
      </div>

    </ng-container>
  </div>
</div>
